**PYTHON** **PRACTICE** **PROBLEMS**

1.# Area of Rectangle

In [ ]:
length=int(input("Enter the Number"))
width=int(input("Enter the Number"))
a=length*width
print(a)

Enter the Number5
Enter the Number4
20

2.# sum,Difference,Product and quotient of two numbers

Sum of Numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
s=a+b
print(s)

enter a number6
enter a number4
10

Product of numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
p=a*b
print(p)

enter a number5
enter a number2
10

Difference of numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
d=a-b
print(d)

enter a number10
enter a number3
7

Quotient of numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
q=a%b
print(q)

enter a number15
enter a number3
0

3.# convert temperature from fahreinheit to celsius and vice versa

In [ ]:
fer=float(input("enter the number"))
cel=(fer-32)*5/9
print(cel)

enter the number99
37.22222222222222

In [ ]:
fer=float(input("enter the number"))
fer=(cel*9/5)+32
print(fer)

enter the number37
99.0

4.# Chect a given number is positive,negative or zero

In [ ]:
number=int(input("enter the number"))
if(number>0):
  print("number is positive")
elif(number<0):
  print("number is negative")
else:
  print("number is zero")

enter the number7
number is positive

5.# Determine whether a year is a leep year

In [ ]:
y=int(input("Enter the year"))
if(y/4==0):
  print("it is a leep year")
elif(y/400==0):
  print("it is a leep year")
else:
  print("it is not a leep year")

Enter the year2023
it is not a leep year

6.# Grade according to mark

In [ ]:
mark=float(input("Enter the mark"))
if(mark>=90):
  print("A Grade")
elif(mark>=80):
  print("B Grade")
elif(mark>=70):
  print("C Grade")
elif(mark>=60):
  print("D Grade")
elif(mark>=0):
  print("F Grade")
else:
  print("Invalid")

Enter the mark65
D Grade

7.# Print numbers from 10-1

In [ ]:
for n in range(10,0,-1):
  print(n)

10
9
8
7
6
5
4
3
2
1

8.# Print all even numbers from 0-20

In [ ]:
for n in range(2,22,2):
  print(n)

2
4
6
8
10
12
14
16
18
20

9.# Print multiplication table of a given number

In [ ]:
num=int(input("Enter the Number"))
for n in range(1,11):
  print(num*n)

Enter the Number5
5
10
15
20
25
30
35
40
45
50